.image-container {
  display: inline-block;
  margin:  0 2px 0 2px;
  position: relative;
}

.image-overlay-top {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(42, 43, 43, 0.5);
  overflow: hidden;
  width: fit-content;
  padding: 5px;
  transition: .5s ease;
}

.image-overlay-bottom {
  position: absolute;
  border-radius:  0 0 5px 5px;
  bottom: 0;
  left: 0;
  background-color: rgba(42, 43, 43, 0.5);
  overflow: hidden;
  width: 100%;
  transition: .5s ease;
}

.image-container:hover .image-overlay-bottom {
  opacity: 0;
}
